$primary: #0059ff;
$shadow: #0001;
$shadow-hover: #0002;
$white: #fff;
$text-white: $white;

$mobileBr: 0;
$tabletBr: 600px;
$desktopBr: 1200px;

$breakpoints: (
  mobile: $mobileBr,
  tablet: $tabletBr,
  desktop: $desktopBr,
);